#sidebar
  display: flex
  flex-direction: column
  padding: 0 .9375rem
  overflow: visible
  background-color: $blue
  .header-logo
    width: 80%
    margin-bottom: 3.125rem
    margin-top: 0.9375rem
  .header-menu__item
    margin: 0 0 1.25rem 0
    align-items: flex-start
    justify-content: flex-start
  .button-enter
    flex: 0 0  2.5rem
    margin-top: auto
    margin-bottom: 1.875rem
    width: 100%
    padding-top: 0.625rem
    padding-bottom: 0.625rem
    height: 2.5rem
    margin-left: 0

#dismiss
  background-color: transparent
  &:hover
    background-color: transparent
  i
    font-size: 1.5rem
