<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="libs/sidebar/style3.css" />
  <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.bundle.css"/>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->

  <title><%=title%></title>
</head>


