.buttons-area
  display: flex
  align-items: center

.button
  width: max-content
  border-color: transparent
  text-decoration-line: none
  transition: 0.2s ease all
  cursor: pointer
  font: 400 1rem/130% 'Roboto', sans-serif
  display: flex
  align-items: center
  justify-content: center
  padding: 0.1875rem 0.625rem

.button-reset
  padding: 0
  background: transparent
  border-radius: 0

.button-green
  background: $green
  color: #fff

