$blue: #0054A6
$colorGreen: #66B330
$font-family: 'TT Norms', sans-serif
.page-contact
  padding-bottom: 18.75rem
  .target__title
    margin-bottom: 80px

.map-contact
  height: 570px
  margin: 3.125rem 0 6.25rem 0

.contact-text
  color: #000
  font: 400 1.5rem/1.75rem $font-family
  b
    font-weight: 500
  &--mb
    margin-bottom: 2.1875rem

.contact-block
  margin-bottom: 4.375rem
  &__title
    margin-bottom: 30px
    font: 500 1.5rem/1.75rem $font-family
    color: #000
  &__list
  &__item
    color: #000
    font: 400 1.5rem/1.9375rem $font-family
    margin-bottom: 30px
  &__email
    a,a:hover,a:active
      color: #2B77BC
  &__phone
    a,a:hover,a:active
      color: #000000
  &__soc
    margin-top: 1.25rem


.mod
  .soc-network
    .svg
      border: 1px solid red
      circle
        fill: #87beff

.soc-network
  &__link
    display: inline-block
    width: 2.875rem
    height: 2.875rem
    margin-right: 1.25rem
    margin-bottom: 1.25rem
    img
      max-width: 100%

@media (max-width: 577px)
  .page-contact
    padding-bottom: 6.25rem
