.breadcrumb
  padding: 0
  display: flex
  width: 100%
  margin: 25px 0
  align-items: center
  background-color: transparent
  &__item
    position: relative
    margin-right: 20px
    &:before
      content: ''
      position: absolute
      right: -15px
      top: 4px
      background-image: url("../img/arrow.svg")
      width: 11px
      height: 9px
      background-repeat: no-repeat
      background-position: center
      background-size: cover
  &__item:last-child
    &:before
      display: none
  &__link
    font: 400 12px/14px $font-family
    color: #212121

.news-wrapper,.modules-wrapper,.faq-wrapper
  position: relative
  //overflow-x: hidden

$speed: 0.3s
.page
  position: relative
  z-index: 1
  padding: 10px 0 100px 0
  overflow-x: hidden

.shift
  transition: $speed linear right
  right: 0
  position: relative
  &--active
    right: -15%

.news-page
  .target__title
    margin-bottom: 50px
  .title-underline
    text-transform: inherit

.source
  color: #212121
  font: 400 12px/14px $font-family

.new
  padding-bottom: 25px
  border-bottom: 1px solid #0054A6
  margin-bottom: 30px
  &--border-0
    border: none

  &__image
    margin-bottom: 9px
    max-width: 100%
    width: 100%
    max-height: 584px
    object-fit: cover
    object-position: center
    transition: $speed linear all
  &__text
    margin: 50px 0 20px 0
    p
      color: #000000
      font: 400 15px/18px $font-family
    a,a:hover,a:active
      color: #0054A6
      display: inline-block
      text-decoration-line: underline
    strong
      font-weight: 700
    em
      font-style: italic
    blockquote

      border-left: 1px solid #66B330
      padding: 20px
      max-width: 550px
      width: 100%
      color: #212121
      font: 400 18px/21px $font-family
  //&__link-area
  &__link
    font: 500 18px/21px $font-family
    color: #0054A6
    position: relative
    &:hover,&:active
      color: #0054A6
    &:before
      content: ''
      position: absolute
      right: -22px
      top: 4px
      background-image: url("../img/arrow.svg")
      width: 18px
      height: 15px
      background-repeat: no-repeat
      background-position: center
      background-size: cover

.news-navigation-overlay
  padding-bottom: 40px
  position: absolute
  background-color: #fff
  height: 100%
  z-index: 20
  max-width: 325px
  bottom: 0
  top: 0px
  left: 0
  width: 100%
  border-right: 1px solid rgba(0, 84, 166, 0.5)
  transition: $speed linear transform
  transform: translate(-100% 0)
  &--open
    transform: translate(0 0)
    .news-menu-button
      right: 0
  &__title
    position: relative
    margin-bottom: 40px
    color: #212121
    font: 500 24px/28px $font-family
    &:before
      content: ''
      position: absolute
      background-color: #66B330
      width: 78px
      height: 1px
      left: 0
      bottom: -20px

.news-navigation-area
  padding: 40px
  position: sticky
  top: 0px
  overflow-y: auto
  height: 100%

.news-navigation
  //max-height: 100%
  //overflow-y: auto
  &__item
    margin-bottom: 20px
    padding-bottom: 25px
    border-bottom: 1px solid rgba(0, 84, 166, 0.5)
  &__link
    display: flex
    flex-direction: column
  &__title
    color: #000000
    font: 400 18px/21px $font-family
    margin-bottom: 10px
  &__date
    color: #000000
    font: 400 12px/14px $font-family

.news-menu-button
  cursor: pointer
  position: fixed
  z-index: 11
  left: 8px
  border-radius: 0 5px 5px 0
  top: 40%
  padding: 10px 10px 10px 0
  transition: $speed linear all
  animation: move-menu-button 1.5s ease infinite
  &--open
    animation: none
@keyframes move-menu-button
  100%
    left: 8px
  0%
    left: 0px

.modules-wrapper
  .target__title
    margin-bottom: 40px
    text-align: center
  .title-underline__text
    text-transform: uppercase
  &__button-area
    margin: 40px 0
  &__button-green
    min-height: 83px
    width: 100%
    font: 400 28px/33px $font-family

.module
  width: 100%
  display: inline-block
  margin-bottom: 50px
  &__image
    max-width: 100%
    width: 100%
    max-height: 345px
    object-fit: cover
  &__text
    color: #000000
    font: 500 24px/28px $font-family
    margin: 15px 0

.history
  margin-bottom: 50px
  &__title
    text-align: center
    margin-bottom: 40px
    padding-bottom: 10px
    font: 500 36px/42px $font-family
    color: #000000
    .title-underline__text
      color: #000000
      text-transform: uppercase
      font: 500 36px/42px $font-family
  &__button-green
    margin-bottom: 20px
    width: 100%
    min-height: 73px
    font: 400 24px/28px $font-family
.history-button-area
  margin-bottom: 40px
.history-block
  margin-bottom: 30px
  display: inline-block
  width: 100%
  &__title
    text-align: center
    color: #000000
    font: 500 28px/33px $font-family
    padding-bottom: 15px
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%
    overflow: hidden
  &__image
    width: 100%
    max-width: 100%
    height: 240px
    object-fit: cover
    object-position: center
.card-body
  color: #000

.faq-wrapper
  .target__title
    margin-bottom: 80px

.faq-list
  margin-bottom: 100px

.question
  margin-bottom: 20px
  &__title
  &__button
    text-align: left
    width: auto
    word-spacing: normal
    background-color: transparent
    padding: 0 0 10px 0
    color: #000000
    font: 500 28px/33px $font-family
  &__body
    padding: 20px 0 0 0
    color: #212121
    font: 400 16px/19px $font-family

.question__button[aria-expanded="true"]
  border-bottom-color: $green
.video-frame
  margin-bottom: 60px
  margin-top: 30px


.sld-wrp
  max-width: 728px
  width: 100%
  margin: 0 auto
.slider-for
  width: 100%
  position: relative
  z-index: 10
  .slick-prev, .slick-next
    width: 41px
    height: 33px
    background-image: url("../img/arrow.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  .slick-arrow:before
    content: ""
    display: none
  .slick-next
    right: -70px
  .slick-prev
    transform: translate(0%, -50%) rotate(180deg)
    left: -70px

.slide-container
  border-bottom: 2px solid #66B330
  max-height: 385px
  background-color: #fff
  margin-bottom: 30px
  img
    width: 100%
    max-width: 100%
    object-fit: cover
    height: 100%
.slider-nav
  .slick-list
    margin: 0 -5px
  .slick-current
    opacity: 1
.slide-btn
  opacity: 0.5
  width: 100%
  height: 80px
  margin: 0 5px
  text-align: center
  box-sizing: border-box
  background-color: #ccc
  cursor: pointer
  img
    width: 100%
    max-width: 100%
    object-fit: cover
    height: 100%
  &:hover
    background-color: rgb(255, 179, 0)


.mod
  #sidebar
    background: #fff
    border-right: 1px solid #80AAD3
  #dismiss i
    color: #000
    opacity: 0.6
  header
    background: #fff
    border-bottom: 1px solid #80AAD3
  .header-menu__text
    color: #000
  .header-menu__logo,.header-logo
    content: url("../img/logo-blue.svg")
  footer
    background: rgba(0, 66, 131, 0.05)
    border-top: 1px solid #80AAD3
  .footer-content__title,
  .footer-content__text
    color: #000
  .form-input
    border-color: #000
  input,input::placeholder
    color: #000
  .copyright
    color: rgba(0, 0, 0, 0.65)

@media (min-width: 1900px)
  .shift--active
    right: 0

@media (max-width: 577px)
  .news-navigation-area
    padding: 15px
  .page
    .title-underline
      font-size: 2rem
      line-height: 2.1rem
  .question__button
    font-size: 24px
    line-height: 27px
