<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="footer-content">
          <p class="footer-content__title">
            Национальная ассоциация производителей техники авиации общего назначения
          </p>
          <p class="footer-content__text">Сокращённое название: НАП АОН</p>
          <p class="footer-content__text">Адрес места нахождения/для корреспонденции:</p>
          <p class="footer-content__text">
            123100, г. Москва, Пресненская наб., дом 12, Башня Федерации «Запад», 35 эт., пом.8
          </p>
        </div>
        <div class="soc-network d-flex flex-wrap">
          <a class="soc-network__link" href="#">
            <img src="./img/soc/YOUTUBE.svg" class="svg" alt="">
          </a>
          <a class="soc-network__link" href="#">
            <img src="./img/soc/VKONTANTE.svg" class="svg" alt="">
          </a>
          <a class="soc-network__link" href="#">
            <img src="./img/soc/TELEGRAM.svg" class="svg" alt="">
          </a>
          <a class="soc-network__link" href="#">
            <img src="./img/soc/WHATSAPP.svg" class="svg" alt="">
          </a>
          <a class="soc-network__link" href="#">
            <img src="./img/soc/INSTAGRAM.svg" class="svg" alt="">
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-6">
        <div class="footer-content">
          <p class="footer-content__title">Реквизиты компании</p>
          <p class="footer-content__text">ИНН 7727498600</p>
          <p class="footer-content__text">КПП 770301001</p>
          <p class="footer-content__text">ОГРН 1137799018851</p>
        </div>

        <form class="footer-form form-area__form form form--mini">
          <p class="footer-content__title">Форма обратной связи</p>
          <input type="text" placeholder="Имя*" required class="form__input form-input"/>
          <input type="text" placeholder="E-mail*" required class="form__input form-input"/>
          <button type="submit" class="button button-green form__button-green">
            участвую!
          </button>
          <p class="form__text footer-content__text" style="white-space: normal">
            Нажимая на кнопку, вы принимаете
            <a href="">условия соглашения</a>
          </p>
        </form>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="footer-content">
          <p class="footer-content__title">Банковские реквизиты</p>
          <p class="footer-content__text">ПАО СОВКОМБАНК г. Москва, наб. Краснопресненская, д 14 стр 1</p>
          <p class="footer-content__text">БИК 044525360</p>
          <p class="footer-content__text">р/с 40703810100060000775</p>
          <p class="footer-content__text">к/с 30101810445250000360</p>
          <p class="footer-content__title">Контакты для связи</p>
          <a href="mailto=info@napaon.ru" class="footer-content__text">E-mail: info@napaon.ru</a>
        </div>
      </div>
    </div>
    <p class="copyright">
      © 2019-2022 «Кибердром»
    </p>
  </div>
</footer>
