<header class="d-flex align-items-center justify-content-center">
  <div class="container header-menu ">
    <a href="/" class="header-menu__link-logo">
      <img
        class="header-menu__logo"
        src="./img/logo.svg"
        alt="Кибердром 2022">
    </a>
    <div class="header-menu__navigation d-flex">
      <ul class="header-menu__list align-items-center">
        <li class="header-menu__item header-menu__item--active">
          <a href="index-3.html" class="header-menu__link">
            <span class="header-menu__text">
              Новостной портал
            </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-4.html" class="header-menu__link">
            <span class="header-menu__text">
              Образовательный портал
            </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-5.html" class="header-menu__link">
            <span class="header-menu__text">
              История конкурса
            </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-7.html" class="header-menu__link">
            <span class="header-menu__text">
              Конференция
            </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-6.html" class="header-menu__link">
            <span class="header-menu__text">
              FAQ
            </span>
          </a>
        </li>
      </ul>
      <button class="header-mobile-menu button button-green" id="sidebarCollapse">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a href="/"
         class="d-md-flex d-none button button-green header-menu__button-green">
        Принять участие
      </a>
    </div>
  </div>
</header>
