<% var data = {
title: "Dron"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="wrapper">
  <div class="test">
    <!--<svg class="map-path" width="126" height="410" viewBox="0 0 126 410" fill="none" xmlns="http://www.w3.org/2000/svg">-->
      <!--<path d="M62.4858 1C-82.5142 190 73.5001 263 84.5 194C95.5 125 -13 121.5 3.50003 244C10.2347 294 70 385 125.5 409.5" stroke="#D2DECA" stroke-dasharray="15 15" class="svg-elem-1"></path>-->
    <!--</svg>-->

  </div>


</div>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
