<% var data = {
title: "Dron"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<body class="mod">
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="news-menu-button  js-news-menu-button">
  <img src="./img/news-menu.svg" alt="">
</div>
<div class="page news-wrapper">
  <div class="news-navigation-overlay ">
    <div class="news-navigation-area">

      <div class="news-navigation-overlay__title">
        Последние новости
      </div>
      <ul class="news-navigation">
        <li class="news-navigation__item">
          <a href="index-8.html" class="news-navigation__link">
            <span class="news-navigation__title">Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
        <li class="news-navigation__item">
          <a href="index-8.html" class="news-navigation__link">
            <span class="news-navigation__title">Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
        <li class="news-navigation__item">
          <a href="index-8.html" class="news-navigation__link">
            <span class="news-navigation__title">
              Финал технологического конкурса «Кибердром-2021»
              Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
        <li class="news-navigation__item">
          <a href="/" class="news-navigation__link">
            <span class="news-navigation__title">Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
        <li class="news-navigation__item">
          <a href="index-8.html" class="news-navigation__link">
            <span class="news-navigation__title">Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
        <li class="news-navigation__item">
          <a href="index-8.html" class="news-navigation__link">
            <span class="news-navigation__title">
              Финал технологического конкурса «Кибердром-2021»
              Финал технологического конкурса «Кибердром-2021»</span>
            <span class="news-navigation__date">26 октября 2021 г.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page  d-flex flex-column">
    <div class="shift ">
      <div class="container">
        <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
      </div>
      <section class="news-page">
        <div class="container">

          <div class="new">
            <h2 class="target__title">
      <span class="title-underline  title-underline--black">
        <span class="title-underline__text">Финал технологического конкурса «Кибердром-2021»</span>
      </span>
            </h2>
            <img src="./img/news_image.jpg" class="new__image" alt="">
            <span class="source">Источник: vk.com/cyberdrom_contest</span>
            <div class="new__text">
              <p>
                На прошлой неделе в <a href="/">Геленджике состоялся</a> Геленджике состоялся финал
                конкурса «Кибердром», в котором соревновались шесть команд из
                пяти регионов России. Проходил он в два этапа: рой дронов и шоу дронов. Также в рамках попутного
                фестиваля
                проводились мастер-классы, в том числе и при участии МЧС.
                <br><br>
                Для первого этапа <strong>соревнований организаторы</strong> придумали концепцию города будущего со
                своими
                героями:
                киберпрофессионалами и <em>киберпиратами </em>(две «враждующие» стороны) и киберполицейским, работающим
                на
                киберпрофессионалов. Первые могли легально собирать продукцию фабрик, а вторые ее воровали, тогда как
                третий
                ловил правонарушителей. Все действия, легальные и нет, совершались при помощи квадрокоптеров «Пионер».
              </p>
            </div>
            <div class="new__link-area d-flex flex-wrap">
              <a href="/" class="new__link">
                Читать далее
              </a>
            </div>
          </div>
          <div class="new">
            <h2 class="target__title">
      <span class="title-underline  title-underline--black">
        <span class="title-underline__text">Финал технологического конкурса «Кибердром-2021»</span>
      </span>
            </h2>
            <img src="./img/news_image.jpg" class="new__image" alt="">
            <span class="source">Источник: vk.com/cyberdrom_contest</span>
            <div class="new__text">
              <p>
                На прошлой неделе в <a href="/">Геленджике состоялся</a> Геленджике состоялся финал
                конкурса «Кибердром», в котором соревновались шесть команд из
                пяти регионов России. Проходил он в два этапа: рой дронов и шоу дронов. Также в рамках попутного
                фестиваля
                проводились мастер-классы, в том числе и при участии МЧС.
                <br><br>
                Для первого этапа <strong>соревнований организаторы</strong> придумали концепцию города будущего со
                своими
                героями:
                киберпрофессионалами и <em>киберпиратами </em>(две «враждующие» стороны) и киберполицейским, работающим
                на
                киберпрофессионалов. Первые могли легально собирать продукцию фабрик, а вторые ее воровали, тогда как
                третий
                ловил правонарушителей. Все действия, легальные и нет, совершались при помощи квадрокоптеров «Пионер».
              </p>
            </div>
            <div class="new__link-area d-flex flex-wrap">
              <a href="/" class="new__link">
                Читать далее
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>


  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>

<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
