<% var data = {
title: "История конкурса"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<body class="mod">
<div class="page faq-wrapper modules-wrapper">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
  </div>
  <div class="container">
    <h2 class="target__title">
      <span class="title-underline title-underline--big title-underline--black">
        <span class="title-underline__text">История конкурса</span>
      </span>
    </h2>
    <div class="history">
      <h3 class="history__title bottom-line">
        2021
      </h3>
      <div class="row history-button-area">

        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>

      </div>
      <div class="row" >
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              ЧетвертьфиналЧ етвертьфинал
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Полуфинал
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Финал первая часть
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Финал вторая часть
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Шоу дронов
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Итоги конкурса
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="history">
      <h3 class="history__title bottom-line">
        2021
      </h3>
      <div class="row">
        <div class="col-4">Положение</div>
        <div class="col-4">Положение</div>
        <div class="col-4">Положение</div>
        <div class="col-4">Положение</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Четвертьфинал
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Полуфинал
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Финал первая часть
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Финал вторая часть
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Шоу дронов
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="history-block">
            <h4 class="history-block__title bottom-line bottom-line--green">
              Итоги конкурса
            </h4>
            <img src="./img/news_image.jpg" class="history-block__image" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
