<% var data = {
title: "Образовательные модули"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<body class="mod">
<div class="page modules-wrapper">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
  </div>
  <div class="container">
    <h2 class="target__title">
      <span class="title-underline title-underline--big title-underline--black">
        <span class="title-underline__text">Образовательные модули</span>
      </span>
    </h2>
    <div class="row">
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module.jpg" class="module__image" alt="" >
          <div class="module__text">
            Эксплуатация «БАС»
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module-1.jpg" class="module__image" alt="" >
          <div class="module__text">
            Пилотирование «БВС»
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module-2.jpg" class="module__image" alt="" >
          <div class="module__text">
            Искусственный интеллект
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module-3.jpg" class="module__image" alt="" >
          <div class="module__text">
            Антидрон
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module-2.jpg" class="module__image" alt="" >
          <div class="module__text">
            Кибербезопасность
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-12">
        <a href="/" class="module bottom-line bottom-line--green">
          <img src="./img/module-2.jpg" class="module__image" alt="" >
          <div class="module__text">
            Основы предпринимательской деятельности
          </div>
        </a>
      </div>
    </div>
    <div class="modules-wrapper__button-area">
      <a href="/" class="button button-green modules-wrapper__button-green">
        Перейти к образовательной платформе
      </a>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
