<% var data = {
title: "Dron"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<body class="mod">
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="page news-wrapper">
  <div class="page  d-flex flex-column">
    <div class="shift">
      <div class="container">
        <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
      </div>
      <section class="news-page">
        <div class="container">
          <div class="new new--border-0">
            <h2 class="target__title">
              <span class="title-underline  title-underline--black">
                <span class="title-underline__text">Финал технологического конкурса «Кибердром-2021»</span>
              </span>
            </h2>
            <img src="./img/news_image.jpg" class="new__image" alt="">
            <span class="source">Источник: vk.com/cyberdrom_contest</span>
            <div class="new__text">
              <p>
                На прошлой неделе в <a href="/" >Геленджике состоялся</a> Геленджике состоялся финал
                конкурса «Кибердром», в котором соревновались шесть команд из
                пяти регионов России. Проходил он в два этапа: рой дронов и шоу дронов. Также в рамках попутного фестиваля
                проводились мастер-классы, в том числе и при участии МЧС.
                <br><br>
                Для первого этапа <strong>соревнований организаторы</strong> придумали концепцию города будущего со своими
                героями:
                киберпрофессионалами и <em>киберпиратами </em>(две «враждующие» стороны) и киберполицейским, работающим на
                киберпрофессионалов. Первые могли легально собирать продукцию фабрик, а вторые ее воровали, тогда как
                третий
                ловил правонарушителей. Все действия, легальные и нет, совершались при помощи квадрокоптеров «Пионер».
              </p>
              <br>
              <br>
              <br>
              <blockquote>
                Зураб Хатыпов, финалист конкурса, отмечает:
                «Это великолепный конкурс, нам очень нравятся задания. Пусть они непростые, но, проходя их, мы становимся
                умнее, лучше и приобретаем новые компетенции».
              </blockquote>
              <br>
              <br>
              <br>
              <p>
                На прошлой неделе в <a href="/" >Геленджике состоялся</a> Геленджике состоялся финал
                конкурса «Кибердром», в котором соревновались шесть команд из
                пяти регионов России. Проходил он в два этапа: рой дронов и шоу дронов. Также в рамках попутного фестиваля
                проводились мастер-классы, в том числе и при участии МЧС.
              </p>
            </div>


          </div>
          <div class="history">
            <h2 class="target__title history__title bottom-line">
              <span class="title-underline  title-underline--black">
                <span class="title-underline__text ">
                  Галерея
                </span>
              </span>
            </h2>
            <div class="d-flex justify-content-center video-frame">
              <iframe width="730" height="385" src="https://www.youtube.com/embed/G7DeUrRdDSc"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <div class="sld-wrp">

              <div class="slider-for">
                <div class="slide-container">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-container">
                  <img src="./img/slide.jpg" alt="">
                </div>
              </div>
              <div class="slider-nav">
                <div class="slide-btn">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/slide.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/news_image.jpg" alt="">
                </div>
                <div class="slide-btn">
                  <img src="./img/slide.jpg" alt="">
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>
    </div>


  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>

<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="js/bundle.js"></script>
</body>
