<% var data = {
title: "Dron"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<ul class="container">
  <li class="row">
    <a href="index.html" style="color: #0b2e13">Главная</a>
  </li>
  <li class="row">
    <a href="index-3.html" style="color: #0b2e13">News portal</a>
  </li>
  <li class="row">
    <a href="index-4.html" style="color: #0b2e13">Educational portal</a>
  </li>
  <li class="row">
    <a href="index-5.html" style="color: #0b2e13">History of the contest</a>
  </li>
  <li class="row">
    <a href="index-6.html" style="color: #0b2e13">FAQ</a>
  </li>
  <li class="row">
    <a href="index-7.html" style="color: #0b2e13">The conference</a>
  </li>
  <li class="row">
    <a href="index-2.html" style="color: #0b2e13">тasssест</a>
  </li>
</ul>
<div class="mod">
  <%= _.template(require('./../includes/footer.html').default)(data) %>
</div>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
