<% var data = {
title: "Часто задаваемые вопросы"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<body class="mod">
<div class="page faq-wrapper">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
  </div>
  <div class="container">
    <h2 class="target__title">
      <span class="title-underline title-underline--big title-underline--black">
        <span class="title-underline__text">Часто задаваемые вопросы</span>
      </span>
    </h2>
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="faq-list" id="questions">
          <div class="question">
            <h5 class="question__title">
              <button class="button bottom-line question__button"
                      data-toggle="collapse"
                      data-target="#question1">
                Текст задаваемого вопроса текст задаваемого вопроса?
              </button>
            </h5>
            <div id="question1" class="collapse" data-parent="#questions">
              <div class="question__body">
                Ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос
              </div>
            </div>
          </div>
          <div class="question">
            <h5 class="question__title">
              <button class="button bottom-line question__button"
                      data-toggle="collapse"
                      data-target="#question2">
                Текст задаваемого вопроса текст?
              </button>
            </h5>
            <div id="question2" class="collapse" data-parent="#questions">
              <div class="question__body">
                Ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос
              </div>
            </div>
          </div>
          <div class="question">
            <h5 class="question__title">
              <button class="button bottom-line question__button"
                      data-toggle="collapse"
                      data-target="#question3">
                Текст задаваемого вопроса?
              </button>
            </h5>
            <div id="question3" class="collapse" data-parent="#questions">
              <div class="question__body">
                Ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый вопрос ответ на задаваемый
                вопрос
                ответ на задаваемый вопрос
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
