<% var data = {
title: "Конференция"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<body class="mod">
<div class="page faq-wrapper modules-wrapper">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumb.html').default)(data) %>
  </div>
  <div class="container">
    <h2 class="target__title">
      <span class="title-underline title-underline--big title-underline--black">
        <span class="title-underline__text">Конференция</span>
      </span>
    </h2>
    <div class="history">
      <h3 class="history__title bottom-line">
        Следующая конференция состоится: 20 января 2022 г.
      </h3>
      <div class="row history-button-area">

        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <a href="/" class="button button-green history__button-green"> Положение</a>
        </div>
      </div>
    </div>
    <div class="history">
      <h3 class="history__title bottom-line">
        Конференция 2021
      </h3>
      <div class="d-flex justify-content-center video-frame">
        <iframe width="730" height="385" src="https://www.youtube.com/embed/G7DeUrRdDSc" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>

      <div class="sld-wrp">

          <div class="slider-for">
            <div class="slide-container">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-container">
              <img src="./img/slide.jpg" alt="">
            </div>
          </div>
          <div class="slider-nav">
            <div class="slide-btn">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/slide.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/news_image.jpg" alt="">
            </div>
            <div class="slide-btn">
              <img src="./img/slide.jpg" alt="">
            </div>
          </div>

        </div>

    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

<script src="libs/jquery.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
