<% var data = {
title: "Dron"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<body>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="wrapper-page grid-bg">
  <section class="main-content">
    <div class="main-content__overlay">
      <div class="main-content__overlay__sq pos-1">

      </div>
      <div class="main-content__overlay__sq pos-2">

      </div>
      <div class="main-content__overlay__sq pos-3">

      </div>
      <div class="main-content__overlay__sq pos-4">

      </div>
      <div class="main-content__overlay__sq pos-5">

      </div>
      <img src="./img/dron-rotate.svg" class="d-lg-block d-none dron-rotate" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8  col-md-8 col-12 ">
          <h1 class="main-content__title">
            По инициативе Министерства
            <br>промышленности и торговли РФ
            <br>организован Федеральный проект
            <br>«Кадры для цифровой
            <br>промышленности.
            <br>Создание законченных проектно-
            <br> конструкторских решений в режиме
            <br>соревнований «Кибердром»
          </h1>
        </div>
        <div class="col-lg-4 col-md-4  col-12 ">
          <img
            class="main-content__logo"
            src="./img/logo-big.svg" alt="Кибердром">
        </div>
      </div>
      <div class="date-registration d-flex flex-md-row flex-column align-items-center ">

        <div class="d-flex">
          <img
            class="date-registration__icon"
            src="./img/flag.svg"
            alt="Регистрация">
          <div class="date-registration__info">
            <p>До конца регистрации осталось</p>
            <div class="conf-location__date date-squares d-flex">
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <p class="date-squares__timer" id="d">00</p>
                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <p class="date-squares__timer" id="h">00</p>
                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <p class="date-squares__timer" id="m">00</p>
                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <p class="date-squares__timer" id="s">00</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a href="/" class="button button-green date-registration__button-green">
          Принять участие
        </a>
      </div>
    </div>
  </section>
  <section class="target-area">

    <div class="dron-area-target">
      <img class="dron-target" src="./img/drone.svg" alt="">
      <svg class="map-path-target" width="88" height="421" viewBox="0 0 88 421" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4999 0.5C-2.83339 28.8333 -15.5001 100.2 56.4999 159C128.5 217.8 57.1666 357.5 12.4999 420"
              stroke="#D2DECA" stroke-dasharray="15 15" class="svg-elem-2"></path>
      </svg>
    </div>
    <img
      class="target__image"
      src="./img/target.svg"
      alt="Цель конкурса">
    <div class="target grid-bg-white">
      <div class="target-area__overlay">
        <div class="main-content__overlay__sq pos-6">

        </div>
        <div class="main-content__overlay__sq pos-7">

        </div>
      </div>
      <div class="container ">
        <!--<div class="blend"></div>-->
        <h2 class="target__title ">
      <span class="title-underline title-underline--black">
        <span class="title-underline__text">Цель конкурса</span>
      </span>
        </h2>
        <div class="row">
          <div class="col-xl-7 col-lg-8 col-12">
            <p class="target__info text">
              Создание системы опережающей
              <br>подготовки и переподготовки
              <br>кадров нового поколения для
              <br>цифровой промышленности.

            </p>
          </div>
        </div>


      </div>
    </div>

  </section>

  <section class="contest">
    <div class="container justify-content-center d-flex">
      <div class="contest-count d-flex flex-lg-row flex-column align-items-center justify-content-between">
        <img src="./img/corner.svg" alt="" class="corner corner--tl">
        <img src="./img/corner.svg" alt="" class="corner corner--tr">
        <img src="./img/corner.svg" alt="" class="corner corner--br">
        <img src="./img/corner.svg" alt="" class="corner corner--bl">
        <div class="contest-count__item d-flex flex-column align-items-center">
          <p class="contest-count__count">
            85
          </p>
          <p class="contest-count__text">
            Региона Российской Федерации
          </p>
        </div>
        <div class="contest-count__item d-flex flex-column align-items-center">
          <p class="contest-count__count">
            50 000
          </p>
          <p class="contest-count__text">
            Участников
          </p>
        </div>
        <div class="contest-count__item d-flex flex-column align-items-center">
          <p class="contest-count__count">
            137
          </p>
          <p class="contest-count__text">
            Организаций - партнеров
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="map">

    <div class="container">
      <div class="dron-area">
        <img class="dron" src="./img/drone.svg" alt="">
        <svg class="map-path" width="126" height="410" viewBox="0 0 126 410" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M62.4858 1C-82.5142 190 73.5001 263 84.5 194C95.5 125 -13 121.5 3.50003 244C10.2347 294 70 385 125.5 409.5"
            stroke="#D2DECA" stroke-dasharray="15 15" class="svg-elem-1"></path>
        </svg>
      </div>
      <h2 class="target__title">
      <span class="title-underline title-underline--white">
        <span class="title-underline__text glowIn" id="title-map">Красноярский край</span>
      </span>
      </h2>
      <p class="map__sub" id="desc-map">
        Площадка финального этапа конкурса
      </p>
      <div class="map__info">
        <span class="map__count" id="players-map">7 894</span>
        <span class="map__text" id="players-text">участника</span>
      </div>
      <div class="map-image d-flex justify-content-end">
        <%= _.template(require('./../includes/map.html').default)(data) %>
      </div>
    </div>
  </section>

  <section class="participation grid-bg-white">
    <div class="container">
      <h2 class="target__title text-center">
      <span class="title-underline title-underline--big title-underline--black">
        <span class="title-underline__text">Что дает участие в конкурсе</span>
      </span>
      </h2>
      <nav class="participation-navigation">
        <ul class="nav d-flex flex-md-row flex-column justify-content-between">
          <li class="participation-navigation__item  active">
            <a href="#shcool" class="nav-link" data-toggle="tab">
              Школьнику
            </a>
          </li>
          <li class="participation-navigation__item ">
            <a href="#student" data-toggle="tab" class="nav-link">Студенту</a></li>
          <li class="participation-navigation__item">
            <a href="#specialist" data-toggle="tab"> Молодому специалисту</a></li>
        </ul>
      </nav>
    </div>
    <div class="tab-content">
      <div class="container container-list tab-pane fade show active" id="shcool">
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-1.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Свидетельства государственного образца и сертификаты компаний-партнеров и <span
            class="text-red">ФОИВов</span>
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-2.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Персональное кураторство директора завода/предприятия, ректора ВУЗа, известного ученого
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-3.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Привелегии при поступлении в военные вузы
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-4.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Стажировка на заводе/предприятии
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-5.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Допольнительные баллы при поступлении в вуз
          </p>
        </div>
      </div>
      <div class="container container-list tab-pane fade" id="student">
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-1.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Свидетельства государственного образца и сертификаты компаний-партнеров и <span
            class="text-red">ФОИВов</span>
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-2.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Персональное кураторство директора завода/предприятия, ректора ВУЗа, известного ученого
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-3.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Привелегии при поступлении в военные вузы
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-4.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Стажировка на заводе/предприятии
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-6.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Получение второй специальности на бюджетной основе в престижном ВУЗе, наставник - ректор
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-7.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Срочная служба в научных ротах ВИТ «Эра»
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-8.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Трудоустройство на заводах/предприятиях
          </p>
        </div>
      </div>
      <div class="container container-list tab-pane fade" id="specialist">
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-1.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Свидетельства государственного образца и сертификаты компаний-партнеров и <span
            class="text-red">ФОИВов</span>
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-2.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Персональное кураторство директора завода/предприятия, ректора ВУЗа, известного ученого
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-9.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Взаимообмен на предприятиях в рамках авиационного и радиоэлектронного кластеров
          </p>
        </div>
        <div class="container-list__item container-item d-flex align-items-center">
          <div class="container-item__icon-area">
            <img src="./img/icon-10.svg" class="container-item__icon" alt="">
          </div>
          <p class="container-item__text text">
            Получение новой квалификации за счет предприятия и ВУЗа
          </p>
        </div>

      </div>
    </div>

    <div class="container">
      <h2 class="target__title text-center">
      <span class="title-underline  title-underline--big title-underline--black">
      <span class="title-underline__text">Этапы проведения конкурса</span>
      </span>
      </h2>
    </div>

    <div class="step-contest">
      <div class="container">
        <!--
        step-contest-start и step-contest-end
        -->
        <div class="step-contest__area step-contest-start d-flex ">
          <div class="step-contest__line-area step-current d-flex  align-items-center">
            <div class="step-contest__item d-flex  align-items-lg-center align-items-start">
              <span class="step-contest__date">20 января</span>
              <span class="step-contest__text">Конференция</span>
            </div>
            <span class="container-circles__circle"></span>
          </div>
          <div class="step-contest__line-area d-flex  align-items-center">
            <div class="step-contest__item d-flex  align-items-lg-center align-items-start">
              <span class="step-contest__date">24 января - 24 февраля</span>
              <span class="step-contest__text">Тестирование</span>
            </div>
            <span class="container-circles__circle "></span>
          </div>
          <div class="step-contest__line-area d-flex   align-items-center">
            <div class="step-contest__item d-flex align-items-lg-center align-items-start">
              <span class="step-contest__date">1 марта - 1 сентября</span>
              <span class="step-contest__text">Обучение</span>
            </div>
            <span class="container-circles__circle "></span>
          </div>

          <div class="step-contest__line-area d-flex align-items-center ">
            <div class="step-contest__item d-flex align-items-lg-center align-items-start ">
              <span class="step-contest__date">18 апреля - 20 мая</span>
              <span class="step-contest__text">Четвертьфинал</span>
            </div>
            <span class="container-circles__circle "></span>
          </div>


          <div class="step-contest__line-area d-flex align-items-center">
            <div class="step-contest__item d-flex   align-items-lg-center align-items-start ">
              <span class="step-contest__date">3 июля - 8 июля</span>
              <span class="step-contest__text">Полуфинал</span>
            </div>
            <span class="container-circles__circle "></span>
          </div>


          <div class="step-contest__line-area  d-flex  align-items-center">
            <div class="step-contest__item d-flex  align-items-lg-center align-items-start ">
              <span class="step-contest__date">12 сентября - 18 сентября</span>
              <span class="step-contest__text step-contest__text--final">Финал</span>
            </div>
            <span class="container-circles__circle "></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="conf">
    <img
      class="conf__dron-image d-lg-block"
      src="./img/dron-big.png" alt="Дрон">
    <div class="container conf-container">
      <div class="row">

        <div class="col-lg-6 offset-lg-6 offset-0 col-12">
          <div class="conf-col-info">
            <h2 class="target__title">
            <span class="title-underline title-underline--big title-underline--white">
              <span class="title-underline__text">НАУЧНО- ПРАКТИЧЕСКАЯ</span>
            </span>
              <br><span class="title-underline title-underline--white">
              <span class="title-underline__text">КОНФЕРЕНЦИЯ</span>
            </span>
            </h2>
            <p class="conf__desc">
              На конференции соберутся все участники конкурса <span class="text-green">«Кибердром 2022»</span> из <span
              class="text-green">85 субъектов</span> Российской Федерации
            </p>
            <div class="d-flex conf-info-area">
              <div class="conf-location d-flex flex-column">
                <span class="conf-location__text">локация</span>
                <span class="conf-location__city">МОСКВА</span>
              </div>
              <div class="conf-date d-flex flex-column">
                <span class="conf-location__text">дата проведения</span>
                <span class="conf-location__date date-squares d-flex">
                <div class="date-squares__item">

                </div>
                 <div class="date-squares__item date-squares__item--fill">
                   <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                     <span>20</span>
                     <span>января</span>
                   </div>
                </div>
                 <div class="date-squares__item">

                </div>
              </span>
              </div>
            </div>
            <a href="" class="button button-green conf__button-green">
              Зарегистрироваться
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="testing grid-bg-white">
    <img
      class="testing__image"
      src="./img/testing-image.png" alt="ТЕСТИРОВАНИЕ">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-7 col-12">
          <h2 class="target__title">
            <span class="title-underline title-underline--black title-underline--big">
              <span class="title-underline__text">ТЕСТИРОВАНИЕ</span>
            </span>
          </h2>
          <p class="testing__sub-title text">
            Развитие базовых компетенций участников
          </p>
          <div class="d-flex testing-info-area">
            <div class="conf-location d-flex flex-column">
              <span class="conf-location__text">локация</span>
              <span class="conf-location__city">ДИСТАНЦИОННО</span>
            </div>
            <div class="conf-location d-flex flex-column mr-0">
              <span class="conf-location__text">кол-во участников</span>
              <span class="conf-location__city">50 000</span>
            </div>
          </div>
          <div class="conf-date d-flex flex-column">
            <span class="conf-location__text conf-location__text--black">дата проведения</span>
            <div class="conf-location__date date-squares d-flex">
              <div class="date-squares__item">

              </div>
              <div class="date-squares__item-group d-flex">
                <div class="date-squares__item date-squares__item--fill ">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>20</span>
                    <span>января</span>
                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill   date-squares__item--middle">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>20</span>
                    <span>января</span>
                  </div>
                </div>
              </div>
              <div class="date-squares__item">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="training">
    <img src="./img/training-image.png" class="training__bg-image" alt="">
    <div class="container training-bg">
      <h2 class="target__title">
        <span class="title-underline title-underline--white title-underline--big">
          <span class="title-underline__text">ОБУЧЕНИЕ</span>
        </span>
      </h2>
      <p class="testing__sub-title text">
        Дистанционное обучение участников на базе специальной образовальной онлайн-платформы.
        Видео-курсы, конспекты и трансляции мастер-классов в единой системе.
      </p>
      <div class="d-flex conf-info-area">
        <div class="conf-location d-flex flex-column">
          <span class="conf-location__text">локация</span>
          <span class="conf-location__city">ДИСТАНЦИОННО</span>
        </div>
        <div class="conf-location d-flex flex-column">
          <span class="conf-location__text">кол-во участников</span>
          <span class="conf-location__city">640</span>
        </div>
        <div class="conf-location d-flex flex-column mr-0">
          <span class="conf-location__text">кол-во команд</span>
          <span class="conf-location__city">80</span>
        </div>
      </div>
      <div class="d-flex training__group-conf-date">
        <div class="conf-date d-flex flex-column">
          <span class="conf-location__text ">первый месяц обучения</span>
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item-group d-flex">
              <div class="date-squares__item date-squares__item--fill ">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <span>1</span>
                  <span>марта</span>
                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill date-squares__item--middle ">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <span>1</span>
                  <span>апреля</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="conf-date conf-date--empty d-flex flex-column">
          <span class="conf-location__text "><br></span>
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
          </div>
        </div>
        <div class="conf-date d-flex flex-column">
          <span class="conf-location__text ">второй месяц обучения</span>
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item-group d-flex">
              <div class="date-squares__item date-squares__item--fill ">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <span>29</span>
                  <span>МАЯ</span>
                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill date-squares__item--middle ">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

                </div>
              </div>
              <div class="date-squares__item date-squares__item--fill">
                <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                  <span>29</span>
                  <span>ИЮНЯ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="conf-date conf-date--empty d-flex flex-column">
          <span class="conf-location__text "><br></span>
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
          </div>
        </div>
      </div>
      <div class="d-flex training__group-conf-date training__group-conf-date-revers">
        <div class="conf-date conf-date--empty d-flex flex-column">
          <!--<span class="conf-location__text "><br></span>-->
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
          </div>
        </div>
        <div class="conf-date conf-date--gold d-flex flex-column">
          <!--<span class="conf-location__text "><br></span>-->
          <div class="date-squares__item-group d-flex">
            <div class="date-squares__item date-squares__item--fill ">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>4</span>
                <span>АПРЕЛЯ</span>
              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill date-squares__item--middle ">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>8</span>
                <span>АПРЕЛЯ</span>
              </div>
            </div>
          </div>
          <span class="conf-location__text ">экзамен</span>
        </div>
        <div class="conf-date conf-date--empty d-flex flex-column">
          <!--<span class="conf-location__text "><br></span>-->
          <div class="conf-location__date date-squares d-flex">
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
            <div class="date-squares__item">

            </div>
          </div>
        </div>
        <div class="conf-date d-flex flex-column">
          <!--<span class="conf-location__text "><br></span>-->
          <div class="date-squares__item-group d-flex">
            <div class="date-squares__item date-squares__item--fill ">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>1</span>
                <span>АВГУСТА</span>
              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill date-squares__item--middle ">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>1</span>
                <span>СЕНТЯБРЯ</span>
              </div>
            </div>
          </div>
          <span class="conf-location__text ">третий месяц обучения</span>
        </div>
      </div>
      <a href="" class="button button-green training__button-green">
        программа обучения
      </a>
    </div>
  </section>

  <section class="section-zarnitsa grid-bg-white">
    <div class="container position-relative">
      <img src="./img/step-1-4.png" class="section-zarnitsa__image" alt="1/4 ФИНАЛА «ЗАРНИЦА»">
      <h2 class="target__title">
        <span class="title-underline title-underline--black title-underline--big">
          <span class="title-underline__text">1/4 ФИНАЛА «ЗАРНИЦА»</span>
        </span>
      </h2>
      <p class="testing__sub-title text">
        Развитие базовых компетенций участников
      </p>

      <div class="zarnitsa__col d-flex flex-wrap flex-lg-row flex-column">
        <div class="conf-location  testing-info-area d-flex flex-column">
          <span class="conf-location__text">локация</span>
          <span class="conf-location__city">ПАРК «ПАТРИОТ»</span>
        </div>
        <div class="conf-location  testing-info-area d-flex flex-column">
          <span class="conf-location__text">кол-во участников</span>
          <span class="conf-location__city">160</span>
        </div>
        <div class="conf-location  testing-info-area d-flex flex-column">
          <span class="conf-location__text">кол-во команд</span>
          <span class="conf-location__city">20</span>
        </div>

      </div>
      <div class="conf-date d-flex flex-column">
        <span class="conf-location__text conf-location__text--black">дата проведения</span>
        <div class="conf-location__date date-squares d-flex">
          <!--<div class="date-squares__item">-->

          <!--</div>-->
          <div class="date-squares__item-group d-flex">
            <div class="date-squares__item date-squares__item--fill ">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>18</span>
                <span>апреля</span>
              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill   date-squares__item--middle">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

              </div>
            </div>
            <div class="date-squares__item date-squares__item--fill">
              <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                <span>20</span>
                <span>МАЯ</span>
              </div>
            </div>
          </div>
          <div class="date-squares__item">

          </div>
        </div>
      </div>


    </div>
  </section>

  <section class="section-aviation-work">
    <div class="container">
      <img src="./img/drons.png" class="section-aviation-work__image" alt="Дроны">
      <h2 class="target__title">
        <span class="title-underline title-underline--white title-underline--big">
          <span class="title-underline__text">1/2 ФИНАЛА «АВИАЦИОННАЯ РАБОТА»</span>
        </span>
      </h2>
      <p class="testing__sub-title text">
        «Логистика», «Кадастр», «Аэролес»
      </p>
      <div class="row">
        <div class="section-aviation-work__content offset-lg-8 col-lg-4 col-12">
          <div class="conf-location d-flex flex-column">
            <span class="conf-location__text">локация</span>
            <span class="conf-location__city">Екатеринбург</span>
          </div>
          <div class="d-flex">
            <div class="conf-location d-flex flex-column">
              <span class="conf-location__text">кол-во участников</span>
              <span class="conf-location__city">200</span>
            </div>
            <div class="conf-location d-flex flex-column">
              <span class="conf-location__text">кол-во команд</span>
              <span class="conf-location__city">25</span>
            </div>
          </div>
          <div class="conf-date d-flex flex-column">
            <span class="conf-location__text conf-location__text--black">дата проведения</span>
            <div class="conf-location__date date-squares d-flex">
              <div class="date-squares__item">

              </div>
              <div class="date-squares__item-group d-flex">
                <div class="date-squares__item date-squares__item--fill ">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>3</span>
                    <span>июля</span>
                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill   date-squares__item--middle">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>8</span>
                    <span>июля</span>
                  </div>
                </div>
              </div>
              <div class="date-squares__item">

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section-final grid-bg-white">
    <div class="container">
      <h2 class="target__title">
        <span class="title-underline title-underline--black title-underline--big">
          <span class="title-underline__text">ФИНАЛ</span>
        </span>
      </h2>
      <p class="testing__sub-title text">
        «Управление роем – искусственный
        интеллект», «Шоу дронов», «Полет в лесу»
      </p>
      <div class="row">
        <div class="col-lg-5 col-12">
          <div class="conf-location testing-info-area  d-flex flex-column">
            <span class="conf-location__text">локация</span>
            <span class="conf-location__city">Геленджик</span>
          </div>
          <div class="d-flex">
            <div class="conf-location testing-info-area d-flex flex-column">
              <span class="conf-location__text">кол-во участников</span>
              <span class="conf-location__city">120</span>
            </div>
            <div class="conf-location testing-info-area d-flex flex-column">
              <span class="conf-location__text">кол-во команд</span>
              <span class="conf-location__city">15</span>
            </div>
          </div>
          <div class="conf-date d-flex flex-column">
            <span class="conf-location__text conf-location__text--black">дата проведения</span>
            <div class="conf-location__date date-squares d-flex">
              <div class="date-squares__item">

              </div>
              <div class="date-squares__item-group d-flex">
                <div class="date-squares__item date-squares__item--fill ">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>12</span>
                    <span>СЕНТЯБРЯ</span>
                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill   date-squares__item--middle">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">

                  </div>
                </div>
                <div class="date-squares__item date-squares__item--fill">
                  <div class="date-squares__date d-flex flex-column align-items-center justify-content-center">
                    <span>18</span>
                    <span>СЕНТЯБРЯ</span>
                  </div>
                </div>
              </div>
              <div class="date-squares__item">

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
    <img src="./img/dron.png" class="section-final__image-dron" alt="Дрон">
    <img src="./img/final.png" class="section-final__image-final" alt="Финал">
  </section>

  <section class="section-form grid-bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-area d-flex flex-lg-row flex-column ">
            <div class="form-area__col form-area__info">
              <div class="form-area__item">
                <h6 class="form-area__title">Готовы принять участие?</h6>
                <p class="form-area__text">
                  Оставьте заявку и будьте всегда
                  в курсе актуальных новостей.
                </p>
              </div>
              <div class="form-area__item">
                <h6 class="form-area__title">Остались вопросы?</h6>
                <p class="form-area__text">
                  Посмотрите список часто задаваемых вопросов <a href="">здесь.</a>
                </p>
              </div>
              <img src="./img/arrow-form.svg" class="form-area__image-arrow" alt="">
            </div>
            <div class="form-area__col form-area__info2 align-items-end d-flex flex-column">
              <form class="form-area__form form">
                <input type="text"
                       placeholder="Имя*"
                       required
                       class="form__input form-input">
                <input type="text"
                       placeholder="E-mail*"
                       required
                       class="form__input form-input">
                <button type="submit" class="button button-green form__button-green">
                  участвую!
                </button>
                <p class="form__text">
                  Нажимая на кнопку, вы принимаете
                  <a href="">условия соглашения</a>
                </p>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="organizers grid-bg-white">
    <div class="organizers-content flex-column d-flex align-items-center">
      <h2 class="target__title">
        <span class="title-underline title-underline--black title-underline--big">
          <span class="title-underline__text">ОРГАНИЗАТОРЫ</span>
        </span>
      </h2>
      <div class="organizers-content__row">
        <div class="organizers-content__col">
          <div class="organizers-content__col-title">Инициатор проекта</div>
          <div class="organizers-content__col-image">
            <img src="./img/r-1.png" alt="Минпромторг России">
          </div>
        </div>
        <div class="organizers-content__col">
          <div class="organizers-content__col-title">Организатор конкурса</div>
          <div class="organizers-content__col-image">
            <img src="./img/r-2.png" alt="НАП АОН">
          </div>
        </div>
        <div class="organizers-content__col">
          <div class="organizers-content__col-title">Координатор проекта</div>
          <div class="organizers-content__col-image">
            <img src="./img/r-3.png" alt="Министерство науки">
          </div>
        </div>
        <div class="organizers-content__col">
          <div class="organizers-content__col-title">Оператор проекта</div>
          <div class="organizers-content__col-image">
            <img src="./img/r-4.png" alt="Министерство сх">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="organizers partners grid-bg-white">
    <div class="organizers-content flex-column d-flex align-items-center">
      <h2 class="target__title">
        <span class="title-underline title-underline--black title-underline--big">
          <span class="title-underline__text">НАШИ ПАРТНЕРЫ</span>
        </span>
      </h2>
      <div class="organizers-content__row organizers-content__partner justify-content-start">
        <div class="">
          <img src="./img/r-5.png" alt="">
        </div>
        <div>
          <img src="./img/r-6.png" alt="">
        </div>

        <div>
          <img src="./img/r-7.png" alt="">
        </div>

        <div>
          <img src="./img/r-8.png" alt="">
        </div>
        <div>
          <img src="./img/r-10.png" alt="">
        </div>

        <div>
          <img src="./img/r-11.png" alt="">
        </div>

        <div>
          <img src="./img/r-12.png" alt="">
        </div>
        <div>
          <img src="./img/r-13.png" alt="">
        </div>
        <div>
          <img src="./img/r-14.png" alt="">
        </div>
        <div>
          <img src="./img/r-15.png" alt="">
        </div>
        <div>
          <img src="./img/r-16.png" alt="">
        </div>
        <div>
          <img src="./img/r-17.png" alt="">
        </div>
        <div>
          <img src="./img/r-18.png" alt="">
        </div>
        <div>
          <img src="./img/r-19.png" alt="">
        </div>
        <div>
          <img src="./img/r-20.png" alt="">
        </div>
        <div>
          <img src="./img/r-21.png" alt="">
        </div>
        <div>
          <img src="./img/r-22.png" alt="">
        </div>
        <div>
          <img src="./img/r-23.png" alt="">
        </div>
        <div>
          <img src="./img/r-24.png" alt="">
        </div>
        <div>
          <img src="./img/r-25.png" alt="">
        </div>
        <div>
          <img src="./img/r-26.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="section-news  grid-bg-white">
    <div class="container">
      <h2 class="target__title">
        <span class="title-underline title-underline--black title-underline--big">
          <span class="title-underline__text">Последнии новости</span>
        </span>
      </h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="new-block ">
            <div class="bottom-line">
              <div class="new-block__link">
                Финал технологического конкурса «Кибердром-2021»
              </div>
            </div>
            <img class="new-block__image" src="./img/news_image.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="new-block ">
            <div class="bottom-line">
              <div class="new-block__link">
                Финал технологического конкурса «Кибердром-2021»
              </div>
            </div>
            <img class="new-block__image" src="./img/news_image.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <a href="/" class="new-block ">
            <div class="bottom-line">
              <div class="new-block__link">
                Финал технологического конкурса «Кибердром-2021»
              </div>
            </div>
            <img class="new-block__image" src="./img/news_image.jpg" alt="">
          </a>
        </div>
      </div>
      <a class="section-news__link-go link-go bottom-line bottom-line--green">
        <span class="link-go__text">Перейти к новостному порталу</span>
      </a>
    </div>
  </section>

  <%= _.template(require('./../includes/footer.html').default)(data) %>

</div>


<script src="libs/jquery.js"></script>
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/bundle.js"></script>
</body>
